$color: #c8d8dd;

html
body {
  // margin: 0;
  // padding: 0;
  font-size: 14px;
  font-family: 'Be Vietnam Pro', sans-serif;
  background-color: $color;
  width: 100%;
  height: 100%;
}

div{
  width: 100%;
}

.my-flix {
  color: $color;
}