

$dblue: rgb(106, 130, 183);
$lblue: rgb(240, 237, 248);
$lorange: rgb(251, 169, 44);
$peach: rgb(252, 112, 97);
$brown: rgb(74, 62, 66);
$white: rgb(252, 244, 239);
$navy: rgb(48, 49, 121);
$grey: rgb(158, 158, 158);
$lpurple: rgb(200, 195, 204);
$lgreen: rgb(140, 163, 163);
$dgreen: rgb(72, 79, 79);
$maroon: rgb(86, 63, 70);
$cream: rgb(220, 215, 199);
$beige: rgb(200, 183, 166);
$periwinkle: rgb(125, 148, 181);
$dustyrose: rgb( 194, 149, 145);
$maroonbrown: rgb( 112, 63, 55);
$mutedgreen: rgb( 182, 193, 153);


* {
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 300;
  // background-color: #d1cfbf;

  background-color: $cream;
}

.navbar-light .navbar-toggler {
  color: $lorange;
  border: none;
}

#justify-content-end .nav-link {
  color: $maroonbrown;
}

.nav-link {
  color: $lorange;
}

#main-title, h1, h2, h3, h4, h5{
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: $lorange;
  margin-left: 10px;
  letter-spacing: 2px;
}

#basic-navbar-nav {
  margin-left: 30px;
}